body {
    background-image: url(bkgimage.jpg);
    background-size: cover;
}

.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.results {
    color: whitesmoke;
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.grid div {
    width: 40px;
    height: 40px;
}

.invader {
    background-image: url(invader.jpeg);
    background-size: cover;
}

.shooter {
    background-image: url(shooter.png);
    background-size: cover;
}

.laser {
    background-image: url(rocket.png);
    background-size: cover;
}

.boom {
    background-image: url(explosion.png);
    background-size: cover;
}

@media (max-width:700px),(max-height:700px) {
    .grid {
        width: 300px;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(bkgimage.jpg);
        background-size: cover;
    }

    .grid div {
        width: 20px;
        height: 20px;
    }
}

/* @media  {
    .grid {
        width: 300px;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(bkgimage.jpg);
        background-size: cover;
    }

    .grid div {
        width: 20px;
        height: 20px;
    }
} */
body {
  height: 100vh;
  background: linear-gradient(#333, white) no-repeat;
}

#startScreen {
  margin: auto;
  margin-top: 50px;
  position: relative;
  width: 300px;
  height: 200px;
  background-color: whitesmoke;
  color: #333;
  text-align: center;
  border: 8px solid;
  border-radius: 10px;
  box-shadow: 0 1px 32px white;
  transform: rotate(0) scale(0);
  animation: boom 1s linear;
  animation-fill-mode: forwards;
}

@keyframes boom {
  100% {
    transform: rotate(1080deg) scale(1);
  }
}

#startScreen div {
  height: 50%;
}

#startScreen h1 {
  position:absolute;
  width: 100%;
  color: #222;
  font-size: 40px;
  text-shadow: 0 1px 2px;
  animation: pulse 6s linear infinite;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}

#startScreen p {
  font-weight: bold;
}

#startScreen span {
  position: relative;
  font-size: 18px;
  animation: up 2s linear infinite;
  animation-delay: 3s;
}

@keyframes up {
  25% {
    top: -4px;
  }
}

#gameOn {
  font-size: 100px;
  text-align: center;
  text-shadow: 0 2px 0 limegreen, 0 1px 64px white;
  animation: pulse 1.5s linear infinite;
}